# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
.env/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system/OS junk
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore IDE/project files
.vscode/
.idea/